@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @import 'common/fonts';

    .desktop {
        display: none;
        @media (min-width: 993px) {
            display: flex;
        }
    }

    .tablet {
        display: none;
        @media (max-width: 992px) {
            display: flex;
        }
    }

    .mobile{
        display: none;
        @media (max-width: 768px) {
            display: flex;
        }
    }

    .fixed-w{
        width: calc(100% - 5rem);
    }

    .text-primary {
        color: #00C0EA;
    }
    
    body {
        @apply  bg-[#222222] overflow-x-hidden font-mulish text-white;
    }

    #app {
        @apply m-auto fixed-w;
    }

}
@layer components {

    header {
        @apply flex items-center justify-between font-gilroy py-10;
    }
    
    header nav{
        @apply w-[70%];
    }
    
    header nav ul{
        @apply flex flex-row items-center justify-between;
    }
    
    header nav ul li a {
        @apply font-light text-white uppercase cursor-pointer opacity-50;
        
    }
    header nav ul li a[aria-current="page"] {
        @apply font-semibold opacity-100;
    }
    
    
    header .logo{
        @apply w-[30%];
    }

    footer.footer-wrapper {
        @apply relative mb-48;
    }

    footer.footer-wrapper .footer-bg{
        @apply w-full -z-10;
    }

    footer.footer-wrapper .footer-content-wrapper{
        @apply absolute top-0 left-0 h-full py-11 px-14 w-full;
    }

    footer.footer-wrapper .footer-content {
        @apply w-3/5 flex flex-row items-start justify-between h-full;
    }

    footer.footer-wrapper .footer-lt{
        @apply flex flex-col items-start justify-between h-full;
    }

    footer.footer-wrapper .footer-lt .footer-text {
        @apply uppercase text-xl font-mulish
    }

    footer.footer-wrapper .footer-menu {
        @apply pl-6 border-l-[1px] border-l-white;
    }

    footer.footer-wrapper  .footer-menu ul {
        @apply flex flex-col items-start justify-between gap-3;
    }

    footer.footer-wrapper  .footer-menu li a[aria-current="page"] {
        @apply font-semibold opacity-100;
    }

    footer.footer-wrapper .footer-menu a {
        @apply uppercase opacity-50;
    }
}
